@media screen and (min-width: 25em) {
	[role="banner"] svg {
		font-size: 5.0rem;
		width: 25rem;
	}

	#categories li {
		font-size: 1.8em;
	}
}

@media screen and (min-width: 31.25em) {
	[role="banner"] {
		padding-left: 7.0rem;
	}
}

@media screen and (min-width: 43.75em) {
	#content {
		flex-flow: row wrap;
	}

	#categories {
		flex: 1 0 50%;
	}

	#blog-link {
		flex: 1 0 50%;
	}
}

@media screen and (min-width: 62.5em) {
	[role="banner"] {
		padding-left: 3.0rem;
		text-align: left;
	}

	#content {
		width: 85%;
		flex-flow: row;
	}

	#about-me {
		flex: 1 0 30%;
	}

	#categories {
		flex: 1 0 30%;
	}

	#categories li {
		font-size: 2.0em;
	}

	#blog-link {
		flex: 1 0 30%;
	}

	#blog-link a {
		font-size: 2.0em;
	}

	[role="contentinfo"] div a {
		display: inline-block;
	}
}

@media screen and (min-width: 75em) {
	#content {
		width: 85%;
		flex-flow: row;
	}

	[role="contentinfo"] div:after {
		bottom: 100%;
		left: 20%;
		width: 60%;
	}

	[role="contentinfo"] div a {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 104em) {
	#content {
		width: 70%;
	}
	
	#about-me p {
		font-size: 1.6em;
	}

	#categories {
		margin-left: 50px;
		margin-top: 0;
	}

	#categories li {
		margin-bottom: 50px;
		margin-left: 0;
		font-size: 2.6em;
	}

	#categories li:before {
		margin-right: 20px;
	}

	#blog-link {
		margin: 0;
	}

	#blog-link a {
		font-size: 2.6em;
	}

	[role="contentinfo"] div:after {
		left: 25%;
		width: 50%;
	}
}