/* Colours */
/* https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.415686274509804,0.3185478597200035,0.05839061985888826,1,0.9378581580646921,0.7714291493891984,1,0.7663179644207629,0.14046800060392928,0.5,0.4239396690975645,0.2202340003019646,0.8,0.6130543715366104,0.11237440048314343&swatchOrder=0,4,1,3,2 */
/* Primary: #6A510F */
/* Secondary: #CC9C1D */
/* Background: #FFF2CD */

body {
	background-color: #1E1E1D;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

#my-name {
	color: #174417;
	font: bold 6.0rem 'Rubik', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}

#my-name .first-letter {
	color: #44CC44;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	border-top: 1px solid #444;
	border-bottom: 8px solid #44CC44;
}

.navbar .navbar-collapse {
	text-align: center;
}

.nav li {
	margin: 0 30px 0 30px;
}

#main-menu li a {
	color: #44CC44;
	font-size: 2.5rem;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

#main-menu li a:hover {
	color: #EAEAEA;
	background: none;
}

#main-menu li a:focus {
	color: #EAEAEA;
	background: none;
}

#content {
	outline: 1px solid #44CC44;
}

#content p {
	font-size: 2.4rem;
	font-family: sans-serif;
	color: #D2D2D2;
}