/* Colours based on Solarized */
/* http://ethanschoonover.com/solarized */

body {
	background-color: #000000;
	background-image: url("black-linen-2.png");
}

[role="banner"] {
	overflow: hidden;
	text-align: left;
	padding-left: 3.0em;
	padding-top: 0.6em;
}

[role="banner"] a:hover,
[role="banner"] a:focus {
	outline: none;
}

[role="banner"] svg {
	font-family: 'Raleway', sans-serif;
	font-size: 7.0rem;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #000000;
	background-image: url("black-linen-2.png");
}

[role="navigation"] {
	border-bottom: 6px solid #268bd2;
	font-size: 1.2em;
	margin: 0 auto;
	max-width: 720px;
	width: 95%;
}

[role="navigation"] ul {
	display: flex;
	flex-wrap: wrap;
}

[role="navigation"] li {
	-webkit-box-flex: 1;
	flex-grow: 1;
}

[role="navigation"] a {
	font-family: Roboto, sans-serif;
	font-weight: 700;
	line-height: 1.1;
	display: inline-block;
	padding: 0.7em 0.2em;
	text-decoration: none;
	transition: color 0.2s;
}

[role="navigation"] a:hover {
	color: #cb4b16;
}

[role="navigation"] a:focus {
	color: #cb4b16;
}

#content {
	margin: 1em auto 0;
	width: 70%;
	display: flex;
	flex-flow: row;
}

.column {
	flex: 1;
}

.flex-order-1 {
	order: 1;
}

.flex-order-2 {
	order: 2;
}

.flex-order-3 {
	order: 3;
}

#about-me {
	flex: 1 1 30%;
}

#about-me p {
	font-family:  "Open Sans", sans-serif;
	font-size: 1.4em;
	color: white;
	line-height: 1.4;
	padding-bottom: 10px;
}

#categories {
	flex: 1 1 30%;
	margin-left: 50px;
	display: flex;
	align-items: center;
}

#categories ol {
	counter-reset: item -1;
}

#categories li {
	margin-bottom: 50px;
	font-family:  "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 2.6em;
	color: white;
	transition: color 0.2s;
}

#categories li:before {
	margin-right: 20px;
	counter-increment: item 1;
	content: counter(item);
	border: 2px solid #999;
	color: white;
	width: 1.1em;
	height: 1.1em;
	text-align: center;
	display: inline-block;
	transition: color 0.2s;
}

#categories li:hover:before {
	color: #999;
}

#categories li:hover {
	color: #999;
}

#categories a {
	text-decoration: none;
}

#categories a:hover,
#categories a:focus {
	outline: none;
}

#blog {
	flex: 1 1 30%;
	display: flex;
	align-items: center;
}

#blog a {
	border-radius: 30px;
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 2.6em;
	color: black;
	background: white;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	transition: background-color 0.5s,
	color 0.5s,
	padding 0.5s;
}

#blog a:hover {
	background: #555;
	color: white;
	padding: 30px 20px 30px 20px;
}

#blog a:hover,
#blog a:focus {
	outline: none;
}

[role="contentinfo"] {
	margin: 1em auto 2em;
	overflow: hidden;
	padding: 1em 0 0.8em;
	text-align: center;
	width: 95%;
}

[role="contentinfo"] #contact {
	line-height: 1.2;
}

[role="contentinfo"] #contact a {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.0rem;
	color: white;
	line-height: 1.1;
	padding: 0.7em;
	text-decoration: none;
	
}

[role="contentinfo"] #contact a:hover {
	color: #999;
}

/* BLOG */

.blog-list {
	margin: 0 auto;
	padding-top: 0.5em;
}

.blog-list li {
	border-bottom: 1px solid hsla(0, 0%, 97%, 0.1);
	box-sizing: border-box;
	margin: 0.5em 0;
	padding: 1.2em 1em;
}

.blog-list li a {
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 2.6em;
	line-height: 1.1;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	transition: color 0.2s;
}

.blog-list li a:hover {
	color: #cb4b16;
}

.blog-list p {
	font-family:  "Source Sans Pro", sans-serif;
	font-size: 1.1em;
	color: #839496;
	line-height: 1.4;
	margin-top: 0.5em;
}

/* PROJECTS */

.projects-list {
	display: flex;
	align-self: center;
	flex-wrap: wrap;
	padding-top: 1em;
	max-width: 100%;
}

.projects-list li {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #002b36;
	box-sizing: border-box;
	padding: 2.4em;
	position: relative;
	text-align: center;
}

.projects-list li div {
	width: 100%;
}

.projects-list li:nth-child(2n+1) {
	background-color: #b58900;
}

.projects-list li:nth-child(2n) {
	background-color: #cb4b16;
}

.project-title {
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 2.8em;
	text-decoration: none;
}

.projects-list li:nth-child(2n+1) .project-title {
	color: #cb4b16;
}

.projects-list li:nth-child(2n) .project-title {
	color: #b58900;
}

.projects-list p {
	font-family:  "Source Sans Pro", sans-serif;
	font-size: 1.1em;
	line-height: 1.4;
	color: #002b36;
}

/* ABOUT */

.about {
	box-sizing: border-box;
	font-size: 1.2em;
	margin: 0 auto;
	line-height: 1.5;
	padding-top: 0.8em;
	width: 93%;
	text-align: center;
}

/* FOOTER */

[role="contentinfo"] nav {
	position: relative;
}

[role="contentinfo"] nav:after {
	content: "";
	background: #999;
	position: absolute;
	bottom: 100%;
	left: 25%;
	height: 1px;
	width: 50%;
}

[role="contentinfo"] nav a {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.2rem;
	color: white;
	text-decoration: none;
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	letter-spacing: 1px;
}

[role="contentinfo"] nav a:hover,
[role="contentinfo"] nav a:focus {
	outline: none;
}

/* Effect by Codrops */
/* https://tympanus.net/codrops/2013/08/06/creative-link-effects/ */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	transform: translateX(0px);
}