<main>
  <article id="blog-post">
    <header>
      <h1 class="writing">
        $title$
      </h1>
      <p class="writing">$date$</p>
      $if(updated)$
      <p class="writing">(Updated $updated$)</p>
      $endif$
    </header>
	<img class="post-image" alt="$imageAlt$" src="$image$" />
    <section class="content writing">
	  $body$
    </section>
	<section class="read-more">
	  <a href="/blog.html" class="btn btn-primary">Read More</a>
	</section>
    <section class="newsletter">
      <script async data-uid="3c58182786" src="https://tim-johns.ck.page/3c58182786/index.js"></script>
    </section>
  </article>
</main>
