#blog img {
  width: 96px;
}
@media screen and (min-width: 900px) {
  #blog img {
	width: 128px;
  }
}

#blog li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#blog a {
  text-decoration: none;
}

#blog ul {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#blog li {
  display: flex;
  gap: 1rem;
}

#blog img {
  width: 96px;
}
@media screen and (min-width: 900px) {
  #blog img {
	width: 128px;
  }
}
