button {
  border: 0;
}

section#contact .heading-image {
  max-width: 20rem;
}

section#contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section#contact input, section#contact textarea {
  padding: 0.5rem;
}

section#contact .name-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 50rem) {
  section#contact .name-email {
    flex-direction: row;
  }
}

section#contact .name-email input {
  flex: 1;
}

section#contact textarea {
  height: 8rem;
}

section#contact button {
  align-self: flex-start;
}
