html,
body {
  min-height: 100vh;
}

html {
  font-size: 17px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #282828;
  background: #E5E5E5;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  border-bottom: 8px solid #D2B48C;
  padding-bottom: 0.3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

pre.sourceCode {
  padding: 2rem 1.5rem;
}
