/* primary: #155915 */
/* light primary: rgba(21, 89, 21, 0.1) */
/* secondary: #D2B48C */
/* light secondary: rgba(210, 180, 140, 0.25) */
/* black: #282828 */

html,
body {
  min-height: 100vh;
}

html {
  font-size: 22px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #282828;
  background: white;
}

h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

.small {
  font-size: 0.8em;
}

p {
  line-height: 1.2em;
}

strong {
  font-weight: 500;
}

pre.sourceCode {
  padding: 2rem 1.5rem;
}

header {
  background: #155915;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

header > div {
  display: flex;
  justify-content: space-between;
}

header a,
header button {
  color: white;
  text-decoration: none;
}

header #title {
  font-size: 2em;
  font-weight: 300;
}

header #toggle-menu-open,
header #toggle-menu-close {
  width: 2.5em;
}

header nav {
  overflow: hidden;
  transition: max-height 1s ease-out;
  height: auto;
  max-height: 11em;
}

header nav.collapsed {
  max-height: 0;
}

header nav li {
  border-bottom: 1px solid #ffffff50;
}

header nav li:last-child {
  border-bottom: none;
}

header nav li a {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
}

.btn-primary {
  padding: 1.2rem;
  background: #155915;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  width: fit-content;
}

section, footer {
  padding: 2rem 1rem;
}

footer {
  background: rgba(21, 89, 21, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

footer .social-icons {
  display: flex;
  gap: 1rem;
}

footer .social-icons svg {
  width: 40px;
  color: #282828;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}
