/* primary: #155915 */
/* light primary: rgba(21, 89, 21, 0.1) */
/* secondary: #D2B48C */
/* light secondary: rgba(210, 180, 140, 0.25) */
/* black: #282828 */

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #282828;
  background: white;
  line-height: 1.75;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #155915;
}

small {
  font-size: 0.875rem;
}

strong {
  font-weight: 500;
}

pre.sourceCode {
  padding: 2rem 1.5rem;
}

body > header {
  background: #155915;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

body > header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body > header a {
  color: white;
  text-decoration: none;
}

body > header #title {
  font-size: 2em;
  font-weight: 300;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.btn-primary {
  padding: 0.75rem 1rem;
  background: #155915;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

main > header,
main > article > header {
  padding: 1rem;
}

main > section,
body > footer {
  padding: 2rem 1rem;
}

main > header,
main > article > header {
  background: rgba(21, 89, 21, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  background: rgba(21, 89, 21, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

footer .social-icons {
  display: flex;
  gap: 1rem;
}

footer .social-icons svg {
  width: 40px;
  color: #282828;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.writing {
  font-family: 'Libre Baskerville', serif;
}

.h-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  max-width: 60rem;
  align-self: center;
}
