main > section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section .content .btn-primary {
  align-self: center;
}

#next-happy-hour {
  color: #E30D0D;
}
