#next-happy-hour {
  color: #E30D0D;
  align-self: center;
}

section#happy-hour .content h3 {
  text-align: center;
}

section#happy-hour blockquote {
  text-align: center;
}

section#happy-hour blockquote p {
  font-weight: 700;
  line-height: 2.5rem;
}

.past-session {
  display: flex;
  flex-direction: column;
}

.past-session iframe {
	align-self: center;
	width: 100%;
	aspect-ratio: 1.7;
	height: 100%;
}
