#hero {
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background: white;
}

#hero img {
  width: 100%;
}
@media screen and (min-width: 500px) {
  #hero img {
	width: 400px;
	max-width: 25rem;
  }
}

#hero p {
  max-width: 50rem;
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 9vw;
  color: #4c5a51;
}
@media screen and (min-width: 650px) {
  #hero p {
    font-size: 3rem;
  }
}

#newsletter {
  padding-top: 0;
  width: 90%;
}

#testimonials {
  background: #4c5a51;
  color:  white;
}

#testimonials .content {
  gap: 4rem;
}

#testimonials figure {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#testimonials blockquote p {
  color: white;
}

#testimonials figcaption {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#testimonials figcaption img {
  border-radius: 50%;
}

#testimonials figcaption .name {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

#testimonials figcaption .career {
  color: white;
}

#program p {
  font-size: 1.2rem;
  text-align: center;
}

#latest-posts {
  background: #dce5da;
}

#latest-posts .content {
  gap: 4rem;
}

#latest-posts ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#latest-posts li {
  display: flex;
  gap: 1rem;
}

#latest-posts li img {
  width: 96px;
}
#latest-posts li .blog-image {
  width: 96px;
}
@media screen and (min-width: 900px) {
  #latest-posts li img {
	width: 128px;
  }
  #latest-posts li .blog-image {
    width: 128px;
  }
}

#latest-posts li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#latest-posts li a {
  color: #282828;
  text-decoration: none;
}

#latest-posts li h4 {
  font-weight: 700;
}
