section#hero {
  display: flex;
  justify-content: center;
  padding: 0;
  background: rgba(21, 89, 21, 0.1);
}

section#hero img {
  width: 100%;
}
@media screen and (min-width: 500px) {
  section#hero img {
	width: 400px;
  }
}

section#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.125rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section#intro p {
  max-width: 60rem;
  width: 100%;
}

section#cta {
  background: rgba(210,180,140,0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 4rem;
}

section#cta article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  max-width: 60rem;
}

section#cta article > div {
  display: flex;
  flex-direction: column;
  width: min-content;
}

section#cta article > div > h3 {
  width: 95vw;
}

@media screen and (min-width: 900px) {
  section#cta article:nth-child(odd) {
	flex-direction: row;
  }

  section#cta article:nth-child(even) {
	flex-direction: row-reverse;
  }

  section#cta article > div > h3 {
	width: max-content;
  }
}

section#latest-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

section#latest-posts ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section#latest-posts li {
  display: flex;
  gap: 1rem;
}

section#latest-posts li img {
  width: 96px;
}
@media screen and (min-width: 900px) {
  section#latest-posts li img {
	width: 128px;
  }
}

section#latest-posts li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#latest-posts li a {
  color: #282828;
  text-decoration: none;
}
