body > header #toggle-menu svg {
  width: 2.5em;
  height: 2.5em;
}

body > header nav {
  overflow: hidden;
  transition: max-height 0.75s ease;
  height: auto;
  max-height: 18em;
}

body > header nav.collapsed {
  max-height: 0;
}

body > header nav li {
  border-bottom: 1px solid #ffffff50;
}

body > header nav li:last-child {
  border-bottom: none;
}

body > header nav li a {
  display: block;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  text-transform: uppercase;
  font-weight: 500;
}

/* Nav menu button */
#toggle-menu .line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
#toggle-menu .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
#toggle-menu .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
#toggle-menu .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
#toggle-menu.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
#toggle-menu.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
#toggle-menu.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
