main > article {
  display: flex;
  flex-direction: column;
}

main > article > header {
  flex-direction: column;
  align-items: center;
}

main > article > section {
  margin-top: 2rem;
  width: 100%;
}

main > article > section > * {
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

main > article > section > h1,
main > article > section > h2 {
  margin-top: 2rem;
}

main > article > section ul {
  list-style: disc;
}

main > article > section ol {
  list-style: decimal;
}

main > article > section ul,
main > article > section ol {
  margin-left: 2rem;
}

main > article > section blockquote {
  margin: 1.5rem 10px;
  padding: 0.5rem 10px;
  background: #F9F9F9;
  border-left: 10px solid #CCC;
}

main > article > section strong {
  font-weight: bold;
}

main > article > section code {
  font-family: 'Inconsolata', monospace;
}

main > article > section p > code,
main > article > section li > code {
  background: #EAEAEA;
}

main > article > section table {
  background: white;
  border: 1px solid #E0E0E0;
  border-collapse: collapse;
}
main > article > section table thead th,
main > article > section table tfoot th {
  background: #EAEAEA;
}
main > article > section table caption {
  padding: 0.5em;
}
main > article > section table th,
main > article > section table td {
  padding: 0.5em;
  border: 1px solid #E0E0E0;
}
