section#projects {
  
}

article.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #D2B48C;
}

article.project img {
  width: 150px;
}
