#projects .project {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #f1f0ec;
}

#projects .project-image {
  align-self: center;
  width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#projects h2 {
  align-self: center;
  font-size: 2rem;
}

#projects .icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}
